body {
    background-color: white;
    background-image: url('island-during-golden-hour-and-upcoming-storm-1118873.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.weather-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.container-fluid {
    background-color: white;
    background-image: url('tourists-793786_1920.jpg');
    background-repeat: space;
    background-attachment: fixed;  
    background-size: cover;

}